﻿      .centered {
            text-align:center;
        }

      .centraliseLoadingSpin {
            position: absolute; 
            display: block; 
            top: 50%; 
            left: 49%;            
        }

      h2.centered, label {
            font-family: 'PT Sans';
        }

      .buttonStyle {
	        background-color:white;
	        -moz-border-radius:15px;
	        -webkit-border-radius:15px;
	        border-radius:10px;
	        border:3px solid #8C0002;
	        display:inline-block;
	        cursor:pointer;
	        color:#8C0002;
            font-family: 'PT Sans';
            letter-spacing: 1.5px;
            font-weight: 700;
	        font-size:17px;
	        padding:5px 15px;
	        text-decoration:none;
        }
            .buttonStyle:hover, .buttonStyle:active, .buttonStyle:focus  {
	            background-color:white;
                color:#8C0002;
                outline:0;
            }

        .grow {
            display: inline-block;
            transition-duration: 0.1s;
            transition-property: transform;
        }
	        .grow:hover {
		        transform: scale(1.1);
	        }

        .form-group.required .control-label:after {
          content:"*";
          color:red;
        }

        .inputCentered {
            margin: auto;
        }