﻿<div ng-app="contractorTimesheetModule">
    <div ng-controller="contractorTimesheetController">
        <img ng-show="!loaded" class="centraliseLoadingSpin" src="~/Pictures/spinner.gif" />
        <div class="row" ng-show="loaded">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-12">
                        <div class="row">
                            <h2 class="centered"> Timesheet generator for contractors</h2>
                            <div class="col-md-2 col-lg-2 col-sm-12">
                            </div>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <form class="centered" ng-submit="generateTimesheet()">
                                    <div class="form-group required">
                                        <label class="control-label"> Full name</label>
                                        <input required placeholder="Full name" type="text" class="form-control inputCentered" id="fullName">
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label"> Job title</label>
                                        <input required placeholder="Job title" type="text" class="form-control inputCentered" id="jobTitle">
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label"> Client name</label>
                                        <input required placeholder="Client name" type="text" class="form-control inputCentered" id="clientName">
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Placement type</label>
                                        <select required class="form-control inputCentered" id="placementType">
                                            <option value="">Please select</option>
                                            <option value="1">Weekly</option>
                                            <option value="2">Monthly</option>
                                        </select>
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label"> Placement start date</label>
                                        <input required id="placementStartDate" type="date" class="form-control inputCentered">
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label"> Placement end date</label>
                                        <input required id="placementEndDate" type="date" class="form-control inputCentered">
                                    </div>
                                    <div class="form-group centered">
                                        <button type="submit" class="btn-lg buttonStyle grow" id="submitButton">Generate timesheet</button>
                                    </div>
                                    <hr>
                                    <h6>Please note, the download will start automatically once you generate the timesheet.</h6>
                                </form>
                            </div>
                            <div class="col-md-2 col-lg-2 col-sm-12">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-2 col-lg-2">
            </div>
        </div>
    </div>
</div>


<script>
    angular.module('contractorTimesheetModule', ['elif']).value('$anchorScroll', angular.noop).controller('contractorTimesheetController', function ($scope, $http) {

        $scope.generateTimesheet = function () {
            var startDate = Date.parse(document.getElementById("placementStartDate").value);
            var endDate = Date.parse(document.getElementById("placementEndDate").value);

            if (isNaN(startDate) || isNaN(endDate)) {
                alert('Start date or end date has incorrect format.');
                return;
            }

            if (endDate < startDate) {
                alert('End date cannot be earlier than start date');
                return;
            }

            $scope.loaded = false;

            var submitInformation =
            {
                FullName: document.getElementById("fullName").value,
                JobTitle: document.getElementById("jobTitle").value,
                ClientName: document.getElementById("clientName").value,
                PlacementType: document.getElementById("placementType").value,
                PlacementStartDate: document.getElementById("placementStartDate").value,
                PlacementEndDate: document.getElementById("placementEndDate").value
            }

            $http.post("/api/GenerateTimesheetApi/", submitInformation)
                .success(function (createdFileName) {
                    if (!!createdFileName) {
                        $scope.loaded = true;
                        var downloadUrl = $scope.getDownloadPath(createdFileName);
                        window.location.href = downloadUrl;
                    }

                    $scope.loaded = true;
                }).error(function () {
                    alert('An error occured.');
                });
        };

        $scope.getDownloadPath = function (fileName) {
            return "/ExcelFiles/" + fileName;
        }

        $scope.loaded = true;
    });
</script>